body{
  margin: 0;
  padding: 0;   
}

.section{
  width: 1280px;
  margin: 0 auto;
  overflow: hidden;
}

.index__head {
  height: 60px;
  vertical-align: middle;
}

.index__head nav {
  position: relative;
  left: 34%;
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  height: 60px;
}

.head--img {
  position: relative;
  top: 6px;
}

.head--txt {
  color: #393a3a;
  font-size: 21px;
}

.head__title {
  float: right;
  width: 100%;
  padding: 0;
  margin: 0 0 0 0;
  height: 60px;
}

.head__title--item {
  display: block;
  float: left;
  list-style: none;
  margin: 0;
  color: #787b83;
  width: 20%;
  line-height: 60px;
  text-align: center;
  font-size: 14px;
  transition: color 0.4s ease-in-out;
}

.head__title--item:hover {
  color: #e74f4d;
}

.head__title--login {
  float: right;
  list-style: none;
  margin: 0;
  color: #787b83;
  text-align: center;
  font-size: 14px;
  line-height: 60px;
}

.head__link--opt {
  display: block;
  width: 20%;
  list-style: none;
  border-top: 3px solid #e74f4d;
  top: 57px;
  position: relative;
  left: 0;
  transition: left 0.4s ease-in-out;
}

.head__title--item:nth-child(1):hover~.head__link--opt {
  left: 0;
}

.head__title--item:nth-child(2):hover~.head__link--opt {
  left: 20%;
}

.head__title--item:nth-child(3):hover~.head__link--opt {
  left: 40%;
}

.head__title--item:nth-child(4):hover~.head__link--opt {
  left: 60%;
}

.head__title--item:nth-child(5):hover~.head__link--opt {
  left: 80%;
}

.login--img {
  position: relative;
  top: 3px;
  margin-right: 5px;
}

.index__big--bg {
  overflow: hidden;
  height: 690px;
  background: url('../img/task7/big.png') no-repeat;
  background-position-y: -1px;
}

.index__big--text {
  margin-top: 230px;
  margin-left: 110px;
  color: #fff;
}

.big--bg-w1 {
  display: block;
  font-size: 60px;
}

.big--bg-w2 {
  display: block;
  margin-top: 20px;
  font-size: 21px;
}

.big--bg-w3 {
  display: block;
  margin-top: 10px;
  font-size: 21px;
}

.big--bg--input {
  display: block;
  margin-top: 66px;
  font-size: 21px;
  height: 64px;
  background: #e74f4d;
  width: 332px;
  text-align: center;
  line-height: 64px;
  font-size: 30px;
}

.center--items {
  padding-top: 44px;
  height: 252px;
  text-align: center;
}

.center--item {
  width: 320px;
  float: left;
}

.center--item:nth-last-of-type(1) div {
  border: none;
}

.center--item--txt {
  padding: 0 66px;
  border-right: 1px solid #989999;
  margin-top: 44px;
  height: 54px;
}

.newWorld {
  padding-top: 90px;
  padding-bottom: 80px;
  background: #ededed;
  text-align: center;
}

.newWorld--txt {
  display: block;
  margin-top: 46px;
  font-size: 54px;
  line-height: 54px;
  color: #a1a1a1;
}

.find--city {
  overflow: hidden;
  background: url('../img/task7/map.png') no-repeat 0 100%;
  height: 340px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  font-size: 12px;
}

.find--city--txt1 {
  display: block;
  margin-top: 53px;
  font-size: 21px;
}

.find--city--txt1:hover~.find--city--line {
  width: 300px;
}

.find--city--line {
  display: block;
  width: 30px;
  margin: 10px auto 20px auto;
  border-top: 2px solid #fff;
  transition: width 0.4s ease-in-out;
}

.select--city {
  margin-top: 50px;
  position: relative;
  font-size: 0;
}

input[name="city"] {
  position: relative;
  z-index: 9;
  margin: 0 10px;
  padding: 0;
  width: 238px;
  height: 40px;
  border: 1px solid transparent;
  opacity: 0;
  box-sizing: border-box;
}

input[type="button"] {
  vertical-align: top;
  z-index: 9;
  margin: 0 10px;
  padding: 0;
  width: 238px;
  height: 40px;
  background: #be4f48;
  border: none;
}

input[name="city"]:nth-of-type(1):checked~.options .select-1 {
  border: 2px solid #AE7271;
  border-bottom-width: 0;
}

input[name="city"]:nth-of-type(2):checked~.options .select-2 {
  border: 2px solid #AE7271;
  border-bottom-width: 0;
}

input[name="city"]:nth-of-type(3):checked~.options .select-3 {
  border: 2px solid #AE7271;
  border-bottom-width: 0;
}

input[name="city"]:nth-of-type(1):checked~.options .select-1 .option {
  display: block;
}

input[name="city"]:nth-of-type(2):checked~.options .select-2 .option {
  display: block;
}

input[name="city"]:nth-of-type(3):checked~.options .select-3 .option {
  display: block;
}

.options {
  position: absolute;
  top: 0;
  padding: 0 124px;
}

.select {
  position: relative;
  float: left;
  width: 238px;
  height: 40px;
  text-align: left;
  font-size: 14px;
  line-height: 40px;
  box-sizing: border-box;
  color: #B3B3B3;
  border: 1px solid #C6B3AF;
  background: url('../img/task7/icon-7.png') no-repeat #fff;
  background-position: 95%;
  background-size: 20px;
  padding: 0 10px;
  margin: 0 10px;
}

.options .select .option {
  width: 238px;
  background-color: #e3e3e5;
  position: absolute;
  z-index: 10;
  left: -2px;
  top: 38px;
  display: none;
}

.options .select .option ul {
  margin: 0;
  padding: 0;
  width: 238px;
  box-sizing: border-box;
  border: 2px solid #AE7271;
  border-top-width: 0;
}

.options .select .option ul li {
  height: 32px;
  line-height: 32px;
  text-align: left;
  padding-left: 40px;
  list-style: none;
  cursor: pointer;
}

.options .select .option ul li:hover {
  background: url('../img/task7/icon-7.png') no-repeat 10px 8px, #BF4E48;
  background-size: 20px;
  color: #fff;
}

.section5 {
  overflow: hidden;
  padding: 104px 0 104px 146px;
  background: #f8f8f8;
  box-sizing: border-box;
}

.pic-box {
  display: block;
  float: left;
  border: 1px solid #B3B3B3;
  margin-right: 66px;
  padding: 5px;
  text-align: center;
}

.content--pic {
  height: 340px;
  width: 202px;
  background: url('../img/task7/pic-4.png') no-repeat;
}

.pic-box .pic-2 {
  background-position: 33%;
}

.pic-box .pic-3 {
  background-position: 67% 2%;
}

.pic-box .pic-4 {
  background-position: 99%;
}

.pic-add {
  display: block;
}

.pic-txt2 {
  font-size: 12px;
  color: #B3B3B3;
}

.section6 {
  overflow: hidden;
}

.section6 .pic-big {
  position: relative;
  overflow: hidden;
  height: 565px;
  width: 849px;
  background: url('../img/task7/section7.png') no-repeat;
  text-align: center;
  vertical-align: middle;
  float: left;
}

.section6 .pic-big:after {
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  border-top: 20px solid transparent;
  border-right: 22px solid #fff;
  border-bottom: 20px solid transparent;
  font-size: 0;
  top: 50%;
  right: 0
}

.section6 .pic-big span {
  display: block;
  color: #fff;
  font-size: 22px;
}

.section6 .pic-big .txt1 {
  margin-top: 130px;
  font-size: 50px;
}

.section6 .pic-big .txt2 {
  font-size: 158px;
}

.section6 .pic-big .txt3 {
  font-size: 22px;
}

.section6 .content {
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}

.section6 .content span {
  display: block;
}

.section6 .content .txt1 {
  margin-top: 162px;
  font-size: 20px;
  font-weight: bold;
}

.section6 .content .txt2 {
  margin-top: 20px;
}

.section6 .content .txt3 {
  margin: 162px auto 0;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid #e5676a;
  width: 129px;
  height: 40px;
  line-height: 40px;
  color: #e5676a;
}

.content .radio--list {
  margin-top: 20px;
}

.section7 {
  height: 520px;
}

.section7 .items1 {
  height: 100%;
  float: left;
  width: 33.5%;
  background: #e7504d;
  text-align: center;
  vertical-align: middle;
}

.section7 .items2 {
  height: 100%;
  float: left;
  width: 33%;
  text-align: center;
  vertical-align: middle;
}

.section7 .items3 {
  height: 100%;
  background: url('../img/task7/people.png') no-repeat;
  background-position: 50% 50%;
  overflow: hidden;
}

.section7 .items1 span {
  display: block;
  color: #fff;
  font-size: 21px;
  font-weight: bold;
}

.section7 .items1 .txt1 {
  margin-top: 170px;
}

.section7 .items1 .txt2 {
  margin-top: 20px;
}

.section7 .items1 .txt3 {
  margin: 20px auto 0px;
  border-top: 3px solid #fff;
  width: 30px;
}

.section7 .items1 .txt4 {
  margin: 20px auto 0px;
  border: 1px solid #fff;
  height: 40px;
  line-height: 40px;
  width: 170px;
}

.section7 .items2 span {
  display: block;
  font-size: 21px;
  font-weight: bold;
}

.section7 .items2 .txt1 {
  margin-top: 170px;
}

.section7 .items2 .txt2 {
  margin-top: 20px;
}

.section7 .items2 .txt3 {
  margin: 20px auto 0px;
  border-top: 3px solid #aaaaaa;
  width: 30px;
}

.section7 .items2 .txt4 {
  margin: 20px auto 0px;
  border: 1px solid #e7504d;
  height: 40px;
  line-height: 40px;
  width: 170px;
  color: #e7504d;
}

.section8 {
  overflow: hidden;
  text-align: center;
  font-size: 12px;
  color: #aaaaaa;
  height: 300px;
}

.section8 span {
  display: block;
  margin-top: 10px;
}

.section8 .txt1 {
  color: #323333;
  font-size: 21px;
  margin-top: 118px;
}

.section8 .txt2 {
  margin: 10px auto 0;
  border-top: 2px solid #e7504d;
  width: 40px;
}

.section9 {
  padding-left: 135px;
  padding-bottom: 160px;
  overflow: hidden;
}

.section9 .left {
  float: left;
}

.section9 .left .box {
  position: relative;
  padding-bottom: 20px;
  margin-top: 40px
}

.section9 .left .box:nth-child(1) {
  margin-top: 0;
}

.section9 .left {
  width: 300px;
  font-size: 12px;
  color: #9d9b9a;
}

.section9 .left .title {
  display: block;
  color: #666160;
  font-size: 14px;
  margin-bottom: 26px;
}

.section9 .left .more {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}

.section9 .right {
  overflow: hidden;
  padding-left: 70px;
}

.section9 .right input[type="text"] {
  background-color: #E3E3E3;
  box-sizing: border-box;
  color: #4E3A4F;
  font-size: 14px;
  border: none;
  width: 300px;
  height: 40px;
  outline: 0;
  margin: 10px;
  padding: 10px;
}

.section9 .right input[type="text"]:focus {
  background-color: #FFF;
  border: 1px solid #E3E3E3;
}

.section9 .right .submit {
  display: block;
  background: #edecee;
  font-size: 14px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  margin: 10px;
  width: 630px;
}

.section9 .right .textArea textarea {
  width: 630px;
  height: 160px;
  font-size: 14px;
  color: #4E3A4F;
  box-sizing: border-box;
  margin: 10px;
  padding: 10px;
  border: 0;
  outline: 0;
  background-color: #E3E3E3;
  resize: none;
}

.section10{
  height: 416px;
  background: #32363e;
  width: 100%;
}

.section10 .content{
  height: 416px;
  width: 1280px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  overflow: hidden;
  background: #32363e;
}

.section10 .content .txt1{
  display: block;
  margin-top: 88px;
  font-size: 21px;
}

.section10 .content .txt2{
  display: block;    
  margin-top: 10px;
  font-size: 12px;
}

.section10 .content .txt3{
  display: block;    
  margin-top: 10px;
  font-size: 12px;
}

.section10 .content .div1{
  font-size: 0;
  margin-top: 30px;
}

.section10 .content .div1 .txt{
  width: 430px;
  outline: 0;
  border: 0;
  height: 44px;
  margin: 0;
  padding: 0;
}

.section10 .content .div1 .btn{
  width: 80px;
  background: #6f7178;
  height: 44px;
  border: 0;
  margin: 0;
  padding: 0;
}